
<section class="top-description-container">
      <div class="origin-center-left order-2 md:order-1 lg:pl-16;">
          <h1 class="mb-10 effect-font-styling font-domaine text-[4rem] md:text-[6rem] tracking-[-0.01em] leading-[100%] relative text-center md:text-left pb-3">
            Victoria <br> Shalygina
          </h1>
          <p class="text-lg md:text-[1.125rem] md:leading-[1.5] text-[#ddc9b4] font-normal relative mb-8 mt-2 max-w-[30rem] text-center leading-7 md:text-left">
            Hello, I'm Victoria, a software developer located in Taiwan.
            I'm passionate about building web and mobile applications.
          </p>

        <div class="flex flex-row justify-left gap-4 md:flex-row md:justify-left">
          <a href="assets/Victoria Shalygina (Software Developer).pdf" target="_blank"
            class="download-cv-link">
            Download CV
          </a>
          
          <a href="https://github.com/VictoriaTaiwan" class="socials-icon" target="_blank">
            <div class="rounded-full transition hover:glow-circle w-11 h-11">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 100 100">
                <path fill="#fff" d="M50 1C22.39 1 0 23.386 0 51c0 22.092 14.326 40.834 34.193 47.446 2.499.462 3.416-1.085 3.416-2.406 0-1.192-.046-5.131-.067-9.309-13.91 3.025-16.846-5.9-16.846-5.9-2.274-5.779-5.552-7.315-5.552-7.315-4.536-3.104.342-3.04.342-3.04 5.021.353 7.665 5.153 7.665 5.153 4.46 7.644 11.697 5.434 14.55 4.156.449-3.232 1.745-5.437 3.175-6.686-11.106-1.264-22.78-5.552-22.78-24.71 0-5.459 1.953-9.92 5.151-13.42-.519-1.26-2.23-6.346.485-13.233 0 0 4.198-1.344 13.753 5.125 3.988-1.108 8.266-1.663 12.515-1.682 4.25.019 8.53.574 12.526 1.682 9.543-6.469 13.736-5.125 13.736-5.125 2.722 6.887 1.01 11.973.49 13.232 3.206 3.502 5.146 7.962 5.146 13.42 0 19.205-11.697 23.434-22.83 24.671 1.793 1.552 3.39 4.595 3.39 9.26 0 6.69-.057 12.074-.057 13.721 0 1.33.9 2.89 3.434 2.399C85.691 91.819 100 73.085 100 51c0-27.614-22.386-50-50-50"/>
                <path fill="#fff" d="M18.727 72.227c-.11.248-.502.322-.857.152-.363-.163-.567-.502-.45-.751.108-.256.5-.327.862-.156.363.163.57.505.445.755m2.459 2.194c-.238.221-.705.118-1.021-.231-.327-.349-.388-.814-.146-1.04.245-.22.698-.117 1.025.232.328.353.391.816.142 1.04zm1.687 2.808c-.306.213-.807.013-1.117-.432-.306-.444-.306-.977.007-1.191.31-.214.804-.021 1.117.42.306.452.306.985-.007 1.203m2.854 3.252c-.274.302-.858.22-1.285-.192-.437-.403-.56-.975-.284-1.277.277-.303.864-.218 1.294.191.435.403.567.979.275 1.278m3.687 1.098c-.12.391-.682.57-1.249.403-.565-.171-.935-.63-.821-1.026.117-.394.682-.58 1.253-.401.564.17.935.625.818 1.024m4.198.465c.014.413-.466.755-1.06.762-.599.013-1.082-.32-1.089-.726 0-.416.47-.755 1.067-.765.595-.012 1.082.32 1.082.73m4.123-.158c.071.403-.342.816-.932.926-.58.106-1.118-.143-1.192-.541-.072-.413.349-.826.928-.933.591-.103 1.12.14 1.196.548"/>
              </svg>
            </div>
          </a>
          
          <a href="#contact" class="socials-icon">
            <div class="rounded-full transition hover:glow-circle w-11 h-11">
              <img src="assets/icons/mail.svg" alt="Mail"/>
            </div>
          </a>
        
        </div>
      </div>
  </section>

<div id="about" class="about" id="about">
  <div class="text-center">
    <h1 class="font-domaine text-[3rem] md:text-[3rem] py-8">About me</h1>
    <p class="text-lg text-wrap px-5 md:text-[1.125rem] md:leading-[1.5] text-[#ddc9b4] font-normal max-w-prose mb-8 mt-2 relative text-center leading-7 md:text-center">
      I'm full-stack web and mobile developer with a strong interest in cross-platform technologies
      and user-friendly design. I started my career as a native Android developer, building apps with Kotlin,
      and later used that foundation to launch my own cross-platform application using Flutter.
    </p>
  </div>
<section class="md:items-center my-6 mx-5 ">
  <ul class="flex gap-1">
    <button id="tab-link-1" class="tab-link" [ngClass]="{ 'active-tab': tab === 'mobile' }" (click)="setTab('mobile')">Mobile stack</button>
    <button id="tab-link-2" class="tab-link" [ngClass]="{ 'active-tab': tab === 'web' }" (click)="setTab('web')">Web stack</button>
  </ul>
  <div class="tabs-container">
	<div id="tab1" class="tab-content animate-fade-in" *ngIf="tab === 'mobile'">
    <p class="tab-content-title">Languages</p>
    <ul>
      <li>
        <img src="assets/icons/mobile/dart.svg" alt="Dart" class="w-10 h-10" />
        <span>Dart</span>
      </li>
      <li>
        <img src="assets/icons/mobile/kotlin.svg" alt="Kotlin" class="w-10 h-10" />
        <span>Kotlin</span>
      </li>      
    </ul>   
    <p class="tab-content-title">Frameworks and Tools</p>
    <ul>
      <li>
        <img src="assets/icons/mobile/flutter.svg" alt="Flutter" class="w-10 h-10" />
        <span>Flutter</span>
      </li>      
      <li>
        <img src="assets/icons/mobile/riverpod.svg" alt="Riverpod" class="w-10 h-10" />
        <span>Riverpod</span>
      </li>
      <li>
        <img src="assets/icons/mobile/android.svg" alt="Android" class="w-10 h-10" />
        <span>Android</span>
      </li>
      <li>
        <img src="assets/icons/mobile/jetpack.svg" alt="Jetpack Compose" class="w-10 h-10" />
        <span>Jetpack Compose</span>
      </li>      
      <li>
        <img src="assets/icons/mobile/di.svg" alt="Hilt" class="w-10 h-10" />
        <span>Hilt</span>
      </li>
      <li>
        <img src="assets/icons/git.svg" alt="Git" class="w-10 h-10" />
        <span>Git</span>
      </li>                   
    </ul>
    <p class="tab-content-title">Databases</p>
    <ul>
      <li class="flex flex-wrap items-center gap-3">
        <img src="assets/icons/mobile/database.svg" alt="Room Database" class="w-10 h-10" />
        <span>Room Database</span>
      </li>      
    </ul>
  </div>

	<div id="tab2" class="tab-content" *ngIf="tab === 'web'">
    <p class="tab-content-title">Languages</p>
    <ul>
      <li>
        <img src="assets/icons/web/typescript.svg" alt="TypeScript" class="w-10 h-10" />
        <span>TypeScript</span>
      </li>
      <li>
        <img src="assets/icons/web/java.svg" alt="Java" class="w-10 h-10" />
        <span>Java</span>
      </li>
      <li>
        <img src="assets/icons/web/python.svg" alt="Python" class="w-10 h-10" />
        <span>Python</span>
      </li>           
    </ul>   
    <p class="tab-content-title">Frameworks and Tools</p>
    <ul>
      <li>
        <img src="assets/icons/web/angular.svg" alt="Angular" class="w-10 h-10" />
        <span>Angular</span>
      </li>
      <li>
        <img src="assets/icons/web/html.svg" alt="HTML" class="w-10 h-10" />
        <span>HTML</span>
      </li>
      <li>
        <img src="assets/icons/web/css.svg" alt="CSS" class="w-10 h-10" />
        <span>CSS</span>
      </li>      
      <li>
        <img src="assets/icons/web/spring.svg" alt="Spring Boot" class="w-10 h-10" />
        <span>Spring Boot</span>
      </li>
      <li>
        <img src="assets/icons/web/django.svg" alt="Django" class="w-10 h-10" />
        <span>Django</span>
      </li>      
      <li>
        <img src="assets/icons/git.svg" alt="Git" class="w-10 h-10" />
        <span>Git</span>
      </li>                   
    </ul>
    <p class="tab-content-title">Databases</p>
    <ul>
      <li>
        <img src="assets/icons/web/postgres.svg" alt="Postgres" class="w-10 h-10" />
        <span>Postgres</span>
      </li>      
    </ul>
	</div> 
</div>   
</section>
</div>  

<div class="projects-container" id="projects">
  <h1 class=" mb-15 effect-font-styling font-domaine text-[3rem] md:text-[3rem] tracking-[-0.01em] leading-[100%] relative text-center md:text-left pb-3">Projects</h1>
  <div class="project-card">
    <img src="assets/projects/fitsy_dev_1.png" alt="Fitsy"/>
    <div class="project-card-content">
      <h3>New-gen menu generator</h3>
      <p>
        Fitsy is a cross-platform mobile app that generates AI powered meal plans in seconds.
        It automatically calculates the optimal daily calorie intake based on the user`s lifestyle and goals.
      </p>
      <a href="https://play.google.com/store/apps/details?id=com.fitsy.fitsy" target="_blank">
        Download on Google Play
      </a>
    </div>
  </div>
  
  <div class="project-card">
    <video controls autoplay loop muted>
      <source src="assets/projects/ff14_tools_example.mp4" type="video/mp4">
    </video>
    <div class="project-card-content">
      <h3>TSP solver for Final Fantasy</h3>
      <p>
        A full-stack web application that parses in-game logs and calculates the fastest route.
        The algorithm accounts for multiple starting points, such as teleports, to optimize the path efficiently.
      </p>
      <a href="https://ff14-tools.koyeb.app" target="_blank">Live app</a>
    </div>
  </div>

  <div class="project-card">
    <video controls autoplay loop>
      <source src="assets/projects/overlay_translator_example.mp4" type="video/mp4">
    </video>
    <div class="project-card-content">
      <h3>Overlay Translator</h3>
      <p>
        A lightweight desktop translator with image-to-text (OCR) recognition.
        It supports customizable global hotkeys for quickly selecting areas on the screen.
      </p>
      <a href="https://github.com/VictoriaTaiwan/OverlayTranslator/releases" target="_blank">
        Download on Github
      </a>
    </div>
  </div>
</div>

<h1 class="effect-font-styling font-domaine text-[3rem] md:text-[3rem] tracking-[-0.01em] leading-[100%] relative text-center md:text-center pb-3 mt-70">Contact me</h1>
<form class="contact-form" id="contact" [formGroup]="mailForm" (ngSubmit)="submitForm()">
  <label id="status" class="status-label">{{ mailStatus }}</label>
  <div class="mail-sender-container">
    <div *ngIf="mailForm.get('name')?.invalid && (mailForm.get('name')?.dirty || mailForm.get('name')?.touched)" class="text-red-600 mt-1 text-sm">
      Name is required.
    </div> 
    <input type="text" id="name" formControlName="name" class="mail-sender-field" placeholder="Name"/>
  </div>
  <div class="mail-sender-container">
    <div *ngIf="mailForm.get('email')?.invalid && (mailForm.get('email')?.dirty || mailForm.get('email')?.touched)" class="text-red-600 mt-1 text-sm">
      Email is invalid.
    </div>  
    <input type="email" id="email" formControlName="email" class="mail-sender-field" placeholder="Email"/>  
  </div>
  <div class="mail-sender-container">
    <div *ngIf="mailForm.get('message')?.invalid && (mailForm.get('message')?.dirty || mailForm.get('message')?.touched)" class="text-red-600 mt-1 text-sm">
      Message is required.
    </div>  
    <textarea id="message" rows="4" formControlName="message" class="mail-sender-field" placeholder="Message"></textarea> 
  </div>
  <button type="submit" [disabled]="mailForm.invalid" id="submit">Send</button>
</form>
  
<footer class="flex justify-center items-center w-full px-4 py-4 border-t-2 border-black ">
  <p class="text-center mt-10 text-[#ddc9b4]">Victoria Shalygina ©2025</p>
</footer>
